<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entreprise.Architecture.Repository.Properties.Settings.ShopConnectionString"
            connectionString="Data Source=XENMB108\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Shop.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>